* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url(../IMG/3.jpg);
}

header {
    position: relative;
    background: url(../IMG/1.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #ffe600;
    text-shadow: 1px 1px 3px #000;
    border-bottom: 3px solid #845cff;
}

header ul.fixed {
    position: fixed;
    right: 0;
}

header ul.fixed li {
    margin: 0 10px 10px 0;
    display: flex;
    justify-content: space-between;
}

header ul li i {
    color: #fff;
    margin: 0 3px 0 0;
    transition: all 0.2s linear;
}

header ul li:hover i.fa-chevron-right {
    transform: rotate(180deg);
    text-shadow: -1px -1px 3px #000;

}

header ul li a {
    display: flex;
    color: #ffe600;
    transition: color 0.2s linear;
}

header ul li a:hover {
    color: #767cff;
}

header ul.fixed li ul {
    display: none;
    border-top: 30px solid transparent;
    position: absolute;
    right: 10px;
}

header ul.fixed li ul li {
    border-top: 5px solid transparent;
    margin: 5px 0 0 0;
}

header ul li:hover > ul {
    display: block;
}

header div {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

header div h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

header div h3 {
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 10px 0 0 0;
}

section {
    padding: 15px 5px 0;
}

section p {
    margin: 0 0 0 40px;
    font-size: 22px;
}

section ul li {
    margin: 0 0 0 60px;
    font-size: 20px;
    list-style: disc;
}

section ul.list-style {
    margin: 0;
    padding: 0;
    text-align: center;
}

section ul.list-style li {
    list-style: none;
    display: inline-block;
}

section ul.list-style li img {
    width: 200px;
    height: 200px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 1.5px #000;
    transition: transform 0.2s ease;
}

section ul.list-style li img:hover {
    transform: scale(1.3);
}


@media (max-width: 480px) {
    header {
        font-size: 25px;
    }
}
