* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    background: url(../IMG/3.jpg);
}

header {
    position: relative;
    background: url(../IMG/1.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #ffe600;
    text-shadow: 1px 1px 3px #000;
    border-bottom: 5px solid rgba(0, 0, 255, 0.1);
}

header ul.fixed {
    z-index: 3;
    position: fixed;
    right: 0;
    margin: 20px 20px 0 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

header ul.fixed li {
    display: inline-block;
    margin: 0 10px 0 0;
}

header ul li i {
    color: #fff;
    margin: 0 3px;
    transition: all 0.2s linear;
}

header ul.fixed li:hover i.fa-chevron-right {
    transform: rotate(180deg);
    text-shadow: -1px -1px 3px #000;

}

header ul li a {
    color: #ffe600;
    transition: color 0.2s linear;
}

header ul li a:hover {
    color: #767cff;
}

header ul.fixed li ul {
    display: none;
}

header ul.fixed li:hover > ul {
    display: inline-block;
}

header ul.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 260px;
}

header ul.bottom li {
    margin: 0 5px;
}

header div {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

header div h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

header div h3 {
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 10px 0 0 0;
}

section {
    padding: 15px;
}

section p {
    text-shadow: 1px 1px 0 #fff;
    color: #600000;
    font-size: 22px;
    text-align: center;
    margin: 0 0 20px 0;
}

section article {
    height: 380px;
}

section article img {
    width: 330px;
    height: 330px;
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: 1px 1px 3px #b282ff;
    margin: 3px;
    float: left;
}


@media (max-width: 480px) {

    header {
        font-size: 23px;
    }

    header ul.fixed {
        display: block;
    }

    header ul.fixed li {
        display: block;
    }

    header ul.fixed li a {
        float: right;
    }

    header ul.fixed li ul li {
        display: flex;
        margin: 5px 0 0 0;
    }
}

@media (max-width: 600px) {

    section article img {
        float: none;
        margin: 0 calc(50% - 165px);
    }
}
