* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    background: url(../IMG/1.jpg) no-repeat center;
    width: 100%;
    height: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #ffe600;
    text-shadow: 1px 1px 3px #000;
    border-bottom: 3px solid #845cff;
}

header ul.fixed {
    position: fixed;
    right: 0;
}

header ul li {
    margin: 0 10px 10px 0;
    display: inline-block;
}

header ul li i {
    color: #fff;
    margin: 0 3px 0 0;
    transition: all 0.2s linear;
}

header ul li:hover i.fa-chevron-right {
    transform: rotate(180deg);
    text-shadow: -1px -1px 3px #000;

}

header ul li a {
    color: #ffe600;
    transition: color 0.2s linear;
}

header ul li a:hover {
    color: #767cff;
}

header ul li ul {
    float: left;
    display: none;
}

header ul li:hover > ul {
    display: block;
}

header div {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

header div h1 {
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

header div h3 {
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 10px 0 0 0;
}

section {
    background: url(../IMG/3.jpg);
    height: 100%;
}

section article img {
    width: 350px;
    height: 350px;
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: 1px 1px 3px #b282ff;
    margin: 3px;
}

section p {
    text-shadow: 1px 1px 0 #fff;
    color: #600000;
    font-size: 22px;
    text-align: center;
}

section article p {
    text-align: left;
    margin: auto 0 auto 12px;
}

section article {
    display: flex;
    justify-content: space-between;
}
